
.carton.modal {       
}

.carton.modal::after {
  display: block; position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  content: "";
  opacity: 0.5;
  background-color: grey;
}

.dialog {
  display: -webkit-box; display: -moz-box; display: box;
  position: absolute;
  -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  top: 5%; left: 15%; right: 15%;
  margin-left: 15px; margin-right: 15px;
  background-color: #1c1d1e;
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 1.5px 1.5px 4.5px; -moz-box-shadow: rgba(0,0,0,0.5) 1.5px 1.5px 4.5px; box-shadow: rgba(0,0,0,0.5) 1.5px 1.5px 4.5px;
  z-index: 5;
  -webkit-background-origin: border-box; -moz-background-origin: border-box; background-origin: border-box;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  background-position: 50% 15px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0;
  text-align: center;
  line-height: 30px;
}

.dialog .container {
  padding: 80px 60px 20px 60px;
}

.dialog h2 {
  color: grey;
}

.dialog h2 span {
  font-weight: bold;
}

.carton:not(.modal) .dialog, body .dialog:not(.show) {
  display: none;
}

.carton.modal .dialog label {
  /* display: block; */
  position: relative;
}
.carton.modal .dialog .answer {
  display: block; position: relative;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding: 10px;
  -webkit-user-select: auto;
  -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}

.carton.modal .dialog .pushbutton {
  display: block;
  border-width: 0 12px;
  border-radius: 8px;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: inherit;
  color: grey;
  background-color: #A7A7A7;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(0.5, #FFF), color-stop(0.5, #DDD), color-stop(1, #CCC));
  background-image: -moz-linear-gradient(top, #EEE, #FFF 50%, #DDD 50%, #CCC);
}

.pane:not(.current) {
  display: none;
}

.splitview {
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal;
  -webkit-box-pack: start; -moz-box-pack: start; box-pack: start;
  -webkit-box-align: stretch; -moz-box-align: stretch; box-align: stretch;
}
.splitview > * {
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
}
.splitview > .aside {
  width: 160px;
  border-right: 1px solid lightgrey;
  padding-right: 5px;
}
.splitview > .main {
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-flex: 10; -moz-box-flex: 10; box-flex: 10;
  padding-left: 10px;
}
#dialogs .dialog {
  background-color: #FCFCFC;
  text-align: left;
}
#dialogs .dialog .content {
}
#dialogs #confirm-dialog, #dialogs #browser-dialog {
  top: 20%;
  margin-left:
}
#dialogs #confirm-dialog .container {
  padding-left: 90px; padding-right: 20px;
}
.dialog input.error {
  outline: red;
  background-image: none !important;
  background-color: rgba(255, 127, 127, 0.5) !important;
}
.dialog label.error {
  color: darkred;
}
.dialog {
  position: fixed;
}
/* http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit */
div.spinner {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
}

div.spinner div {
  width: 13%;
  height: 26%;
  background: rgba(127,127,127,0.5);
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
}

div.spinner.animate div {
  -webkit-animation: fade 1s linear infinite; -moz-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2); box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}
